
/* ---------- globals ---------- */

#amnezic {
  --header-height: 70px;
  --header-brand-width: 100px;
  --header-link-width: 100px;
  --header-nav-width: 100px;
  --color-grey: #d1d8e0;
  --color-black: black;
  --color-white: white;
  --color-red: #fc5c65;
  --color-green: #26de81;
  --color-blue: #45aaf2;
  --color-yellow: #fed330;
}

/* ---------- font ---------- */

body {
  /* font-family: 'Lalezar', cursive; */
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Bungee', cursive; */
  font-family: 'Roboto', sans-serif;
}

/* ---------- skeleton ---------- */

body, html, #amnezic, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ========================= header ========================= */

.header-brand {
	display: inline-block;
	width: auto;
	padding: 10px;
}

.question-theme {
	display: inline-block;
	width: auto;
	padding: 10px;
}

.page-header {
	background: rgba(0,0,0,0.2);
}

.page-header .button {
	display: inline-block;
	width: auto;padding: 5px 10px;
	margin: 4px 20px;
}

.question-nb {
	display: inline-block;
	width: auto;
	padding: 10px;
}

/* ========================= button ========================= */

.button {
  cursor: pointer;
  padding: 5px 15px;
  display: inline-block;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #bbb;
  text-decoration: none;
}

.button .button-icon {
  /* margin-right: 10px; */
}

.button.activated {
  background-color: rgba(255,255,255,0.2);
	border: 1px solid white;
}

.button.enabled:hover {
  /*
  background-color: rgba(255,255,255,0.2);
  -webkit-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
  */
  border: 1px solid white;
	/*
  -webkit-box-shadow: 2px 2px 20px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: 2px 2px 20px 0px rgba(255,255,255,0.2);
  box-shadow: 2px 2px 20px 0px rgba(255,255,255,0.2);
	*/
  z-index: 9999;
  cursor: pointer;
}

.button.disabled {
  opacity: 0.2;
}

/* ========================= alert ========================= */

.alert {
	width: auto;
	border-radius: 6px;
  border: 1px solid #eee;
  padding: 10px 20px;
	margin: auto;
}

.alert-info    { color: white; background-color: var( --color-green ); }
.alert-warning { color: white; background-color: var( --color-red ); }

/* ========================= card ========================= */

.selected_cards .selected_card {
  margin-right: 10px;
  border: 1px solid rgba( 0, 0, 0, .3 );
  padding: 5px 10px;
  border-radius: 5px;

  -webkit-box-shadow: 3px 3px 1px rgba( 0, 0, 0, .1 );
          box-shadow: 3px 3px 1px rgba( 0, 0, 0, .1 );
}

.selected_cards .selected_card .card {
  /* margin-left: 5px; */
}

.selected_cards .selected_card-info {
  margin-left: 5px;
  padding: 10px;
  border-radius: 6px;
  color: white;
}

.selected_cards .correct .selected_card-info {
  background-color: var( --color-green );
}

.selected_cards .incorrect .selected_card-info {
  background-color: var( --color-red );
}

/* ========================= page-players ========================= */

.page-players .player {
  border-radius: 6px;
  border: 1px solid #ddd;
	background: #eee;
  padding: 10px 0px;
  margin: 10px;
}

.page-players .player-add {
  border-radius: 6px;
  border: 1px solid #eee;
	background: white;
  padding: 10px 0px;
  margin: 10px;
}

.page-players .player-add:hover {
	cursor: pointer;
	border: 1px solid #ddd;
	background: #eee;
}

.page-players .player .player-card {
	text-align: center;
	display: flex;
}

.page-players .player .player-card .card {
  margin: auto;
}

.page-players .player-add {
	text-align: center;
	display: flex;
}

.page-players .player-add .icon {
  margin: auto;
}



.page-players .player-with-card .player-card .card {
  /* background-color: var( --color-green ); */
}

.page-players .player-without-card .player-card .card {
  background-color: var( --color-red );
}

.page-players .player .modal .card {
  margin: 10px;
}

/* ---------- choice ---------- */

.choice {
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  /*background-*/color: #7f8c8d;
  /*color: white;*/
}

.choice .answer {
	margin: 5px;
	padding: 5px;
}

.choice .hint {
	margin: 5px;
	padding-left: 50px;
}

.choice .cards .card {
	margin: 3px 3px;
}

.choice.correct .answer,
.choice.correct .hint {
  /*background-*/color: var(--color-green);
}

.choice.incorrect .answer,
.choice.incorrect .hint, {
  /*background-*/color: var(--color-red);
}

.choice .cards {
  float: right;
  width: auto;
  text-align: right;
}

/* ========================= selected_card ========================= */

.selected_card {
	display: inline-block;
	width: auto;
}
.selected_card-card {
	display: inline-block;
	width: auto;
}
.selected_card-info {
	display: inline-block;
	width: auto;
}

/* ========================= score ========================= */

.scores {
		text-align: left;
		display: flex;
}
.scores .player {
	margin: auto 0px auto 20px;
}

.scores .player {
  cursor: pointer;
  display: inline-block;
  width: 80px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
	padding: 5px;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  background-color: white;
  color: black;
}

.scores .player.rank-1 {
  /*background-*/color: #f1c40f;
}

.scores .player.rank-2 {
  /*background-*/color: #bdc3c7;
}

.scores .player.rank-3 {
  /*background-*/color: #d35400;
}
