
/* ========================= https://flatuicolors.com/palette/de ========================= */

#amnezic {

  --color-red: #fc5c65;
  --color-orange: #fd9644;
  --color-yellow: #fed330;
  --color-green: #26de81;
  --color-turquoize: #2bcbba;
  --color-light-blue: #45aaf2;
  --color-blue: #4b7bec;
  --color-purple: #a55eea;
  --color-light-grey: #d1d8e0;
  --color-grey: #778ca3;

  --color-dark-red: #eb3b5a;
  --color-dark-orange: #fa8231;
  --color-dark-yellow: #f7b731;
  --color-dark-green: #20bf6b;
  --color-dark-turquoize: #0fb9b1;
  --color-dark-light-blue: #2d98da;
  --color-dark-blue: #3867d6;
  --color-dark-purple: #8854d0;
  --color-dark-light-grey: #a5b1c2;
  --color-dark-grey: #4b6584;

}
